.background {
    -fx-background-size: stretch, stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url(backgrounds/MainPage.png);
}

.create {
    -fx-background-size: stretch, stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url(backgrounds/Create.jpg);
}

#forest {
    -fx-background-size: stretch, stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url(backgrounds/Forest.jpg);
}

#hill {
    -fx-background-size: stretch, stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url(backgrounds/Hill.jpg);
}

#plains {
    -fx-background-size: stretch, stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url(backgrounds/Plains.png);
}

#desert {
    -fx-background-size: stretch, stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url(backgrounds/Desert.jpg);
}

#volcano {
    -fx-background-size: stretch, stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url(backgrounds/Volcano.jpg);
}
#iceberg {
    -fx-background-size: stretch, stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url(backgrounds/Iceberg.jpg);
}


@font-face {
    font-family: 'Castellar';
    src: url('Castellar.ttf');
}



.label {
    -fx-text-fill: black;
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-font-family: "castellar";
}

.root {
    -fx-text-fill: black;
    -fx-background-color: rgba(255, 255, 255, 0.7);

}

.scroll-bar{
    -fx-background-color: rgba(255, 255, 255, 0.1);
}


.list-view {
    -fx-background-color: rgba(255, 255, 255, 0.7);
}

.list-cell:even,.table-row-cell:even{
    -fx-control-inner-background: transparent;
    -fx-border-color: grey;
    -fx-font-family: "Castellar";
    -fx-text-fill: black;
}


.list-cell:odd,
.table-row-cell:odd{
    -fx-control-inner-background: transparent;
    -fx-border-color: grey;
    -fx-font-family: "Castellar";
    -fx-text-fill: black;
}

.list-cell:empty,
.table-row-cell:empty {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.combo-box {
    -fx-font-family: "Castellar";
}

